$primary: #5265e1;
$secondary: #fa5959;
$twenty: 20px;
$menuMobile: #1e272e;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Import font Playfair Display
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  font-family: "Playfair Display", serif;
}

.navbar {
  padding-top: $twenty;
}

.btnLogin {
  background-color: $secondary;
  margin-top: -9px;
}

.nav-link {
  padding-right: $twenty * 2 !important;
  padding-top: $twenty * 2 !important;
}

.login {
  padding-right: $twenty !important;
  padding-top: $twenty * 2 !important;
  margin: 5px -8px !important;
}

.firstImg,
.contentTabsImg {
  width: -webkit-fill-available;
  margin-top: $twenty * 5;
  -moz-box-shadow: 10px 10px 5px $primary;
  -webkit-box-shadow: 10px 10px 5px $primary;
  box-shadow: 88px 63px 0px $primary;
  -moz-border-radius: 25px;
  -webkit-border-radius: 24px;
}

.bookmark {
  padding-top: $twenty * 6;
  margin: $twenty $twenty * 2;
}

.bookmarkText {
  padding: $twenty/2 $twenty * 2;
  opacity: 0.6;
}

.bntEx1 {
  padding-left: $twenty * 2;
}

.bntEx1 button {
  margin: 0 $twenty $twenty/2 0;
}

// https://codepen.io/kiran-r-raj/pen/gOmvZBB
// Part exercici 2, Nivell 1
.funcionalitat {
  text-align: center;
  padding-top: 140px;
}

.textEx2 {
  padding: $twenty;
}

.contentTabs,
.contentTabsImg {
  margin: $twenty * 2;
}
.contentTabsImg {
  margin: ($twenty * 2) 0;
  box-shadow: -110px 63px 0px #5265e1;
}
// Exercici 2
.nav-tabs .nav-item .nav-link {
  color: #9d9d9d;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  position: relative;
}

// Tabs Exercici 2
.nav-tabs .nav-item .nav-link.active {
  border-bottom: 0.3rem solid #ef5777;
  height: 58px;
  padding: 0 32px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  position: relative;
}

.nav {
  padding-left: 20%;
}

.nav-tabs .nav-item .nav-link {
  border: none;
}

.nav-item a {
  color: black !important;
}

.justify {
  text-align: justify;
  padding: $twenty ($twenty * 3);
}

.buttonBookmark {
  float: left;
  margin-left: 60px;
}

// Exercici 3
.extension {
  padding: ($twenty * 7) 0 0 0;
}

// Exercici 7
%myCards {
  width: 18rem;
  float: left;
  padding: 30px $twenty 6px $twenty;
  margin: 20px 10px;
}

.card {
  @extend %myCards;
}

.opacityText {
  opacity: 0.6;
  padding-bottom: $twenty;
}

.CardImg {
  padding-bottom: $twenty * 2;
}

.divCards .card:nth-child(0n + 2) {
  margin-top: $twenty * 4;
}

.divCards .card:nth-child(0n + 3) {
  margin-top: $twenty * 8;
}

.dots {
  border-top: 4px dotted #212529;
  background-color: #fff;
}

// Exercici part 4
.accordion-button:after {
  background-image: url("../assets/Imagenes/icon-arrow.svg") !important;
}

.accordeonButton {
  margin-top: 30px;
  margin-left: 45%;
}

// eXERCICI 5
.stayUp {
  text-align: center;
  color: white;
  background-color: $primary;
  margin-top: $twenty * 6;
  height: 300px;
}

h2 {
  font-weight: bold;
}

h5 {
  margin-top: $twenty * 3;
}

.contact {
  color: white;
}

footer {
  padding: 3px;
  background-color: #242946;
  color: white;
}

.logoImg {
  color: white;
  padding-left: $twenty * 4;
  margin-right: 2%;
}

footer p {
  display: inline-block;
  font-size: 16px;
  padding: 31px;
}

.markCompany {
  font-size: 20px;
}
.bookMark {
  margin-left: -12%;
}

.icons {
  float: right;
  margin-top: 30px;
  margin-right: 23px;
}

.contactUs {
  float: right;
  margin-top: -86px;
}

// Exercici 6 - Nivell 3
.btnLogin,
.nav-link,
.getItChrome,
.getItFirefox,
.buttonBookmark,
.installExension,
.accordionHover,
.accordeonButton,
.contactUs,
.markCompany,
.fa-facebook-square,
.fa-twitter {
  transition: all 0.8s;
}

.btnLogin:hover,
.contactUs:hover {
  border: 1.2px solid $secondary;
  border-radius: 8px;
}

.nav-link:hover,
.accordionHover:hover,
.markCompany:hover,
.fa-facebook-square:hover,
.fa-twitter:hover {
  color: $secondary !important;
}

.nav-link:hover {
  -webkit-transform: scale(1.2) !important;
}

.accordionHover:hover {
  -webkit-transform: scale(1.05) !important;
}

.getItChrome:hover,
.buttonBookmark:hover,
.installExension:hover,
.accordeonButton:hover {
  border: 1.2px solid $primary;
  border-radius: 8px;
  color: $primary;
  background-color: white;
}
.getItFirefox:hover {
  border: 1.2px solid black;
  border-radius: 8px;
  color: black;
}

.contactUs:hover {
  background-color: white;
  color: $secondary;
}

// Modificació de la validació del email
.valid-feedback,
.invalid-feedback {
  background-color: $secondary;
  color: white;
  margin-top: 0px;
  padding: 5px;
}

// Modificaciones del .navbar-nav
.navbar-nav,
.nav-link {
  padding: $twenty;
}

.faIconsF,
.faIconsT {
  display: none !important;
}

@media only screen and (max-width: 990px) {
  .bntEx1 {
    text-align: center;
  }
  .navbar-nav,
  .btnLogin {
    background-color: $menuMobile;
    text-align: center;
  }
  .nav-link {
    color: white !important;
    border-style: dotted none;
    border-width: 2px;
    margin: -1px $twenty;
  }
  .btn-danger {
    // text-align: center !important;
    background-color: $menuMobile;
  }
  .login {
    padding-left: 26px;
  }
  .btnLogin {
    width: 100%;
    display: block;
  }
  .nav-link {
    padding-right: 0px !important;
    text-align: center !important;
  }
  // Tabs
  .custom-tabs {
    padding: 0 37%;
  }

  .bookMark {
    margin-left: -15%;
  }

  footer p {
    display: inline-block;
    font-size: 16px;
    padding: 15px;
  }

  .contactUs {
    float: none;
    margin-top: -7px;
    width: 100%;
  }
  .stayUp {
    height: 320px;
  }
  .divCards {
    margin-left: 6%;
  }
  .divCards .card:nth-child(0n + 3) {
    margin: 40px 0 80px 25%;
  }

  .faIconsF,
  .faIconsT {
    display: inline !important;
    font-size: x-large;
    color: white !important;
  }
  .faIconsF {
    padding-top: 70px;
    margin: 0 50px -8px 0;
  }
  .faIconsT {
    margin: -16px 0 0 50px;
  }
}

// Only for movile
@media screen and (max-width: 770px) {
  .justify {
    text-align: center;
  }
  // Ocultem el botó per a movil
  .buttonBookmark {
    display: none;
  }
  .markCompany {
    margin-left: -20%;
    text-align: center;
    display: grid;
    margin: auto;
    padding: 10px;
  }
  .icons {
    float: none;
  }
  .facebookIcon {
    margin-top: -43px;
    padding-right: $twenty * 3;
    padding-bottom: $twenty;
  }
  .twitterIcon {
    padding-left: 46%;
  }
  .logoImg {
    margin: auto;
    display: grid;
    margin-right: 41%;
    padding-top: 12px;
  }
  .bookMark {
    padding-top: -50px;
    margin-top: -37px;
  }
  .contact {
    margin-top: $twenty * 2;
  }
  .divCards {
    margin-left: 19%;
  }

  .divCards .card:nth-child(1n + 2) {
    margin: 40px 0;
  }
}

@media screen and (min-width: 1200px) {
  .divCards {
    margin: 7%;
  }
  .abajo {
    animation: desdeAbajo 1.2s ease-in-out;
  }
}

@keyframes desdeIzquierda {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes desdeDerecha {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes desdeAbajo {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.izq {
  animation: desdeIzquierda 1s ease-in-out;
}

.der {
  animation: desdeDerecha 1.5s ease-out;
}
