$primary: #5265e1;
$secondary: #fa5959;
$twenty: 20px;
$menuMobile: #1e272e;

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Import font Playfair Display
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  font-family: "Playfair Display", serif;
}

.navbar {
  padding-top: $twenty;
}

.btnLogin {
  background-color: $secondary;
}

.nav-link {
  padding-right: $twenty * 2 !important;
}

.login {
  padding-right: $twenty !important;
  margin: 5px -8px !important;
}

.firstImg,
.contentTabsImg {
  width: -webkit-fill-available;
  margin-top: $twenty * 5;
  -moz-box-shadow: 10px 10px 5px $primary;
  -webkit-box-shadow: 10px 10px 5px $primary;
  box-shadow: 88px 63px 0px $primary;
  -moz-border-radius: 25px;
  -webkit-border-radius: 24px;
}

.bookmark {
  padding-top: $twenty * 6;
  margin: $twenty $twenty * 2;
}

.bookmarkText {
  padding: $twenty/2 $twenty * 2;
  opacity: 0.6;
}

.bntEx1 {
  padding-left: $twenty * 2;
}

.bntEx1 button {
  margin: 0 $twenty $twenty/2 0;
}

// https://codepen.io/kiran-r-raj/pen/gOmvZBB
// Part exercici 2, Nivell 1
.funcionalitat {
  text-align: center;
  padding-top: 140px;
}

.textEx2 {
  padding: $twenty;
}

.contentTabs,
.contentTabsImg {
  margin: $twenty * 2;
}
.contentTabsImg {
  margin: ($twenty * 2) 0;
  box-shadow: -110px 63px 0px #5265e1;
}
// Exercici 2
.nav-tabs .nav-item .nav-link {
  color: #9d9d9d;
  height: 48px;
  padding: 0 24px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  position: relative;
}

// Tabs Exercici 2
.nav-tabs .nav-item .nav-link.active {
  border-bottom: 0.3rem solid #ef5777;
  height: 48px;
  padding: 0 32px;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 160px;
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: white;
  position: relative;
}

.nav {
  padding-left: 20%;
}

.nav-tabs .nav-item .nav-link {
  border: none;
}

.nav-item a {
  color: black !important;
}

.justify {
  text-align: justify;
  padding: $twenty ($twenty * 3);
}

.buttonBookmark {
  float: left;
  margin-left: 60px;
}

@media only screen and (max-width: 990px) {
  .bntEx1 {
    text-align: center;
  }
  .navbar-nav,
  .btnLogin {
    background-color: $menuMobile;
    text-align: center;
  }
  .nav-link {
    color: white !important;
  }
  .btn-danger {
    // text-align: center !important;
    background-color: $menuMobile;
  }
  .login {
    padding-left: 26px;
  }
  .btnLogin {
    width: 100%;
    display: block;
  }
  .nav-link {
    padding-right: 0px !important;
    text-align: center !important;
  }
  // Tabs
  .custom-tabs {
    padding: 0 37%;
  }
}

// Only for movile
@media screen and (max-width: 770px) {
  .justify {
    text-align: center;
  }
  // Ocultem el botó per a movil
  .buttonBookmark {
    display: none;
  }
}
